
body{
 font-family: "Roboto Medium", sans-serif;
    background-color: #111111;
    color: white;
}
h1{
    font-size: 72px;
    text-align: center;
}
.boardPexeso {
    max-width: 620px;
    margin-left: 36%;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.boardPexeso div {
    border: solid white 5px;
    cursor: pointer;
    font-size: 70px;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.nevidim {
    color: rgba(0,0,0,0);
}

.vidim {
    color: rgba(0,0,0,1);
}












